server {
    listen 80;
    server_name "~^(?<name>.*\.)?domain\.tld$";
    return 301 https://${name}HOSTNAME$request_uri;
}

server {
    listen 443 ssl http2;
    server_name ~^(?<user>[a-zA-Z0-9-].+)\.domain\.tld$;
    ssl_dhparam /etc/ssl/certs/dhparam-4096.pem;
    ssl_certificate /etc/letsencrypt/live/HOSTNAME/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/HOSTNAME/privkey.pem;
    access_log /var/log/nginx/subdomain-access.log main;
    error_log  /var/log/nginx/subdomain-error.log warn;
    root /srv/HOSTNAME/public;
    include server.d/wordpress.conf;
}
