Port 22
ListenAddress 0.0.0.0

PermitRootLogin no
StrictModes yes
MaxAuthTries 6
MaxSessions 10

PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no

UsePAM yes
AllowTcpForwarding yes
X11Forwarding no
PrintMotd no
PrintLastLog no
#TCPKeepAlive yes
ClientAliveInterval 600
ClientAliveCountMax 3
PermitTunnel yes
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server

#Match User anoncvs
#    X11Forwarding no
#   AllowTcpForwarding no
#    PermitTTY no
#    ForceCommand cvs server
